
.rb-cube, .rb-controls, .rb-moves {
    padding: 5px;
    word-wrap: break-word;
}

.rb-input-num {
    width: 3em;
}

.rb-input-str {
    width: 200px;
}

.rb-controls-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.rb-face {
    display: inline-block;
    width: 100px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0px;
}

.rb-face td {
    height: 30px;
    width: 30px;
    border: 5px black solid;
    padding: 0px;
}

.rb-btn {
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;
}

.hide {
    display: none;
}
