
.rb-cube, .rb-moves, .rb-settings
{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: black;
    padding: 15px;
    padding-right: 8px;
    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

.rb-face
{
    display: inline-block;
    width: 25%;
    text-align: center;
    margin-right: -4px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.rb-face td
{
    height: 31px;
    width: 31px;
    border: 7px black solid;
}
