.cube
{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.face-decal
{
    margin-left: 125px;
    margin-bottom: 5px;
}

.face-inline
{
    display: inline-block;
}

.face
{
    border-spacing: 0px;
}

.face td
{
    height: 32px;
    width: 32px;
    border: black solid 4px;
    padding: 0px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
